<ion-view title="Editar Consumo">
    <ion-content padding="true" class="has-header">
	 <div>	
        <form name="registro_consumo">
			<label class="item item-input" name="id">
                <span class="input-label">ID</span>
                {{consumo.id}}
            </label>
			<label class="item item-input" name="fecha_consumo">
                <span class="input-label">Fecha Consumo</span>
                <input type="date" class="form-control" placeholder="Cantidad de km" placeholder="" ng-model="consumo.fecha_consumo" min="1900-01-01" max="2100-12-31" required
				ng-class="{ error: registro_consumo.fecha_consumo.$error.required && !registro_consumo.$pristine, warning: registro_consumo.fecha_consumo.$error.fecha_consumo }">
            </label>
            <label class="item item-input" name="kilometraje">
                <span class="input-label">Kilometraje</span>
                <input type="number" class="form-control" placeholder="Cantidad de km" ng-model="consumo.kilometraje" 
				min="1" required
				ng-class="{ error: registro_consumo.fecha_consumo.$error.required && !registro_consumo.$pristine, warning: registro_consumo.fecha_consumo.$error.fecha_consumo }">
            </label>
            <label class="item item-input" name="monto_consumo" >
                <span class="input-label">Monto</span>
                <input type="number" class="form-control" placeholder="Monto gastado" ng-model="consumo.monto_consumo" 
				ng-change="calcular_precio()"
				min="1" max="999999999" required
				ng-class="{ error: registro_consumo.monto_consumo.$error.required && !registro_consumo.$pristine, warning: registro_consumo.monto_consumo.$error.monto_consumo }">
            </label>
            <label class="item item-input" name="galones_consumo" >
                <span class="input-label">Galones</span>
                <input type="number" class="form-control"  placeholder="Cantidad de Galones" ng-model="consumo.galones_consumo" 
				ng-change="calcular_precio()"
				min="1" max="999999999" required
				ng-class="{ error: registro_consumo.galones_consumo.$error.required && !registro_consumo.$pristine, warning: registro_consumo.galones_consumo.$error.galones_consumo }">
            </label>
			<label class="item item-input" name="precio" >
				<span class="input-label">Precio</span>
                <input type="number" class="form-control"  placeholder="Cantidad de Galones" ng-model="consumo.precio_galon" ng-value="consumo.precio_galon | number:2"></input>
            </label>
            <button class="button button-positive button-block " ng-click ="crear_consumo()" ng-disabled="!registro_consumo.$valid">Salvar</button>
			  <!-- registro_consumo.$valid = {{registro_consumo.$valid}} -->

			<!--  <ul class="list" ng-repeat="item in lista_consumo" id="item{{lista_consumo.kilometraje}}">
				<li class="item">
					Kilometraje en lista: {{item.kilometraje}}
				</li>
			</ul> -->
			 
        </form>
	</div>
    </ion-content>
</ion-view>